
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding:0;
}

container {
    max-width :80vw;
    font-family: "Roboto Condensed", sans-serif;

}

.navbar{
    display:flex;
    height: 67px;
}

.navbar li{
    list-style: none;
    margin: 0 12px;
}

.topleft{
    width:100%;
    padding : 12px 0 ;
}

.topright{
    width:100%;
    padding : 12px 0 ;
}

.section1{
    height: 80vh;
}

.section1-h1{
    font-size: 1.5rem;
}

.section1-h2{
    font-size: 2rem;
}

.font-s{
    font-size: 1.5rem;
}

.font-r{
    font-size: 1.0rem;
}

.text1-color{
    color:rgb(225, 207, 207);
}

.text2-color{
    color:rgb(11, 11, 11);
}

.topright-ds{
    height:554px;
    width: 1846px;

}
.section2{
    height: 274px; 
    width: 274px;  
}

.img-size{
    height:274px;
    width:310px;
}

.box{
    padding: 8px 0;
    margin: 12px 22px;
    min-width: 20vw;
    text-align: left;
}
.box h2{
    font-size: 1rem;
    padding: 15px 0;
}

box ul{
    list-style-type: none;
}

.box ul li{
    margin: 5px;
}

.footer{
    padding: 23px;
    text-align: center;
}

