.min-h-screen{
    min-height: 200vh;
}

.bg-blue{
    background-color:rgba(232, 253, 255, 0.793);
}

.mx-auto{
    margin-left:auto;
    margin-right: auto;
}
.backgrd{
    background-color:rgb(14, 10, 10);
}


.flex{
    display:flex;
}

.items-center{
    align-items:center;
}

.justify-between{
    justify-content:center;
}

.justify-between{
    justify-content:space-between;
}

.flex-col{
    flex-direction: column;
}

.font-bold{
    font-weight: 1000;
}

.my-1{
    margin-top: 1px;
    margin-bottom: 1px ;
}

.my-2{
    margin-top: 85px;
    margin-bottom: 13px ;
}

.my-3{
    margin-right: 45px;
    margin-left:32 px ;
}

.px-2{
    padding-left: 13px;
    padding-right: 13px;
}

.px-3{
    padding-top: 13px;
    padding-bottom: 13px;
}


.text-midnightblue{
    color:rgba(86, 185, 237, 0.978);
}

.btn{
    padding: 4px 12px;
    border: 2px solid rgba(82, 66, 66, 0.858);
    border-radius:12px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.925);
    background-color:rgb(174, 21, 21);
}

.btn1{
    padding: 2px 480px;
    border: 1px solid rgba(107, 82, 36, 0.455);
    border-radius: 8px;
    cursor: pointer;
    background-color: rgba(241, 232, 232, 0.812);
}

.btn2{
    padding: 3px 26px;
    border: 2px solid rgba(245, 222, 179, 0.197);
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(123, 102, 62, 0.337);
}

.glyphicon{
    margin: 0 12px;
}