.upper
{
    height: 100px;
    border-radius: 0.5rem;
    background-color: rgb(75, 68, 68);
}
.lower
{
    height: 500px;
    margin-top: 20px;
    background-color: rgb(75, 68, 68);
    border-radius: 0.5rem;
}
.upper p a{
    text-decoration: none;
 }
 .sm
{
    display: flex;
    margin-top: 10px;
    justify-content:center;
    align-items: center;
}
.box
{
    width: 50px;
    height: 50px;
    background: linear-gradient(to top left ,rgb(29, 7, 190),rgb(165, 42, 8));
    border-radius: 0.5rem;
    border: none;
}
.bt
{
    margin-left: 10px;
    font-size: 27px;
}
.email
{
    font-size: 15px;
    box-sizing: border-box;
    padding:10px 0px 10x 0px ;
    color: rgb(162, 143, 143);
}
.headingg
{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
.heading2
{
    box-sizing: border-box;
    background: linear-gradient(to left ,rgb(29, 7, 190),rgb(130, 34, 8));
    -webkit-background-clip:text;
    color: transparent;
    padding: 10px 20px 0px 30px;
}
.add-new {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-new button {
    background-image: linear-gradient(to top left,rgb(104, 0, 255),rgb(255, 0, 180));
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: white;
}
.btn2{
    margin: 12px 16px 0px 0px;
}
.block
{
    margin: 0px 20px 10px 10px;
    border-radius: 0.5rem;
    height: 20px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.para {
    color: #423f3f;
    box-sizing: border-box;
    margin-left: 20px;
    display: flex;
}
.para1 {
    color: #423f3f;
    box-sizing: border-box;
    margin-right: 15px;
}
hr{
    margin: 10px 20px 20px 20px;
    background: linear-gradient(#22222221, #22222210), 
    linear-gradient(to top left, rgb(26, 10, 151),rgb(192, 49, 10));
    background-origin: padding-box, border-box;
    background-repeat: no-repeat; 
    border: 3px solid transparent;
}