*
{
    margin: 0;
    padding: 0;
    background-color: rgb(247, 238, 238);
    background-color: black;
    color: white;
    width: 100%;
    /* height:100%; */
    
}
.container
{
    height: 100vh;
    width: inherit;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
body
{
    width: 100vw;
}
 .block
 {
    height: 400px;
    width: 500px;
    justify-content: center;
    align-items: center;

 }
.heading
{
    text-align: center;
    box-sizing: border-box;
    padding: 30px;
    background: linear-gradient(to left,rgb(34, 9, 227),rgb(244, 5, 5));
    -webkit-background-clip:text;
    color: transparent;
}
.inner_block
{
    box-sizing: border-box;
    margin-top: 20px;
    /* border: 1px solid blue; */
}
.block1
{
    /* border: 1px solid pink; */
    margin-bottom: 30px;
    height: 40px;
}
.ui
{
    font-size: 20px;
    margin-bottom: 20px;
}
.eui
{
    border-radius: 0.5rem;
    height: 40px;
    font-size: 15px;
    box-sizing: border-box;
    padding-left: 20px;
    border: 1px solid rgb(62, 61, 61);
    background-color: rgb(62, 61, 61);
}
 .pswd
{
    font-size: 20px;
    margin-bottom: 20px;
}
.psd
{
    border-radius: 0.5rem;
    padding-left: 20px;
    font-size: 15px;
    box-sizing: border-box;
    height: 40px;
    border: 1px solid rgb(62, 61, 61);
    background-color: rgb(62, 61, 61);
}
.btn
{
    background-color: white;
    color: black;
    margin-top: 10px;
    height: 40px;
     cursor: pointer;
    border: 1px solid white;
    border-radius: 0.5rem;
}