.border1
{
    color: transparent;
    margin-top: 3px;
    background: linear-gradient(#22222291, #696666), 
    linear-gradient(to left, rgb(35, 9, 238),rgb(174, 43, 7));
    background-origin: padding-box, border-box;
    background-repeat: no-repeat; 
    border: 2px solid transparent;
}
.upper
{
    height: 130px;
    border-radius: 0.5rem;
    background-color: rgb(75, 68, 68);
}
.lower
{
    height: 470px;
    margin-top: 20px;
    display: flex;
}
.left1
{
    width: 660px;
    background-color: rgb(75, 68, 68);
    border-radius: 0.5rem;
}
.right1
{
    width: 660px;
    margin-left: 20px;
    background-color: rgb(75, 68, 68);
    border-radius: 0.5rem;
}
.heading2
{
    padding-top:  20px;
    box-sizing: border-box;
    padding-left: 40px;
}
.heading3
{
    box-sizing: border-box;
    padding: 10px 0px 10px 20px;
    font-size: 20px;
    background: linear-gradient(to left,rgb(130, 34, 8),rgb(24, 7, 149),rgb(96, 3, 82));
    -webkit-background-clip:text;
    color: transparent;
}
.heading5
{
    box-sizing: border-box;
    padding: 10px 0px 10px 20px;
    font-size: 20px;
    background: linear-gradient(to left,rgb(130, 34, 8),rgb(24, 7, 149),rgb(96, 3, 82));
    -webkit-background-clip:text;
    color: transparent;
}
.divide
{
    margin: 0px 20px 10px 20px;
    border-radius: 0.5rem;
    height: 180px;
}
.block
{
    height: 56px;
    background-color: white;
    margin-bottom: 5px;
    border-radius: 0.5rem;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text
{
    color: gray;
    box-sizing: border-box;
    padding-left: 20px;
}
.btnn
{
    background-image: linear-gradient(to right ,rgb(227, 59, 185), rgb(90, 10, 148));
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 0.5rem;
    color:white;
}
.block1
{
    margin-right: 20px;
}
.type
{
    color: black;
    font-weight: bolder;
    font-size: 15px;
}
.type1
{
    color: black;
    font-size: 17px;
    font-weight: bolder;
   padding-left: 20px;
}
.detail
{
    margin-top: 20px;
    padding-left: 30px;
    box-sizing: border-box;
}
.div3{
    display: flex;
    margin: 10px 0px 0px 0px;
}
.div1
{
    margin: 0px 5px 0px 5px;
    text-align: center;
}

.div2
{
    margin: 0px 5px 0px 5px;
    text-align: center;
}

.heading4
{
    text-align: center;
    padding-top: 20px;
    background: linear-gradient(to left ,rgb(17, 5, 111),rgb(28, 7, 188),rgba(227, 5, 194, 0.97),rgba(193, 10, 166, 0.97));
    -webkit-background-clip:text;
    color: transparent;
    font-weight: bolder;
    font-size: 20px;
}
.down1
{
    background-color:white;
    border-radius: 0.5rem;
    margin: 0px 10px 10px 10px;
    height: 200px;
}
.btn
{
    background-image: linear-gradient(to right ,rgb(227, 59, 185), rgb(90, 10, 148));
    border: none;
    border-radius: 0.5rem;
    height: 30px;
    width: 400px;
}
.btnn1
{
    align-items: center;
    justify-content: center;
    display: flex;
    margin:20px 0px 0px 0px;
}
.pp
{
    font-size: 25px;
    position: relative;
    top: 5px;
    background: linear-gradient(to left ,rgb(29, 7, 190),rgb(130, 34, 8));
    -webkit-background-clip:text;
    color: transparent;
}
.para
{
    box-sizing: border-box;
    padding-left: 40px;
    margin-top: 20px;
}
.logo1
{
    font-size: 35px;
    text-align: center;
    background-color: rgb(125, 13, 145);
    border-radius: 100%;
}
.logo11
{
    background-color:transparent;
    text-align: center;
    font-size: 25px;
    color: rgba(155, 6, 162, 0.825);
}
.font
{
    color: black;
    font-size: 20px;
    font-weight: bolder;
}